
*{
    font-family: 'Roboto',sans-serif;
    margin: 0;
}

html{
    font-size: 62.5%;
}

main{
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    justify-content: center;
    display: grid;
    grid-template-columns: minmax(300px,2fr) 3fr;
    grid-auto-rows: 550px;
    background-color: #333;
}

.hero--image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.info {
    align-self: center;
    margin: 30px;
}

.info--title {
    color: white;
    font-size: 5rem;
    font-weight: bolder;
    margin-bottom: 24px;
}
.info--subtitle {
    color: white;
    font-size: 2rem;
    margin-bottom: 24px;
}

.button{
    border: none;
    border-radius: 30px;
    color: #333;
    background-color: #fb8c00;
    font-size: 2rem;
    font-weight: bolder;
    padding: 12px 24px;
    height: 50px;
}

.dishes{
    margin: 50px 0;
}
.dishes--title{
    color: #333;
    font-weight: bold;
    text-align: center;
    font-size: 3rem;

}
.dishes--grid{
    margin: 50px 30px;
    display: grid;
    grid-template-columns: repeat(4,minmax(50px,300px));
    grid-auto-rows: auto;
    gap: 25px;
    justify-content: center;
}

.dishes--item{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: -20px 20px 20px 0.2px rgb(171 127 110 / 23%);
}

.dishes--item__big{
    grid-area: 1/1/3/3;
}

.menu{
    margin-bottom: 200px;
}

.menu--title{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 50px;
}

.menu--grid{
    display: grid;
    margin: 0 30px;
    gap: 25px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,minmax(130px,200px));
}

.card{
    background-color: rgba(255, 127, 80, 0.233);
    padding: 15px;
    border-top-left-radius: 40px;
    box-shadow: -20px 20px 20px 0.2px rgb(171 127 110 / 23%);
}

.card--img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width:768px){
    .hero{
        grid-template-columns: minmax(300px,500px);
        justify-content: center;
        text-align: center;
    }
    .dishes--grid{
        grid-template-rows: repeat(2,minmax(100px,150px));
        grid-auto-columns: auto;
        gap: 1rem;
    }
    .dishes--item__big{
        grid-area: 1/1/3/5;
    }
    .hero--image{
        display: none;
    }
    .display--grid{
        grid-template-columns: repeat(auto-fit,minmax(75px,100px));
    }
}

@media screen and (max-width:600px){
    .dishes--grid{
        grid-template-columns: repeat(2,minmax(100px,200px));
        grid-auto-rows: auto;
        gap: 0.5rem;
    }
    .dishes--item__big{
        grid-area: 1/1/3/3;
    }
    .menu-grid{
        grid-template-columns: repeat(auto-fit,minmax(130px,200px));
    }
}